@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');
@font-face {
  font-family: Yeysk;
  src: url('$lib/assets/fonts/YeyskRegular-JzaM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: #fffaf7;
  --foreground-color: #272d3b;
  --footer-color: #272d3b60;
  --font-primary: "Yeysk", sans-serif;
  --font-secondary: "Monsterrat", sans-serif;
  --font-fallback: "Roboto", sans-serif;
  --font-monospace: "", monospace;
  --font-code: "", monospace;
}

html,
body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: var(--font-secondary), var(--font-fallback);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

a {
  transition: transform 50ms ease;
  display: inline-block;
  color: var(--foreground-color);
  text-decoration: none;
}

a:hover {
  color: var(--foreground-color);
  text-decoration: underline;
  transform: translateY(-1px);
}

a:active {
  text-decoration: underline;
  transform: translateY(1px);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-primary), var(--font-secondary), var(--font-fallback);
  transition: font-size 500ms ease-out;
}

h1 {
  font-size: 36px;
  margin: 2em 0px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

h4 {
  margin: 12px 0px;
}

b {
  text-shadow: 0px 1px, 1px 0px, 1px 1px, 1px 2px, 2px 1px, 0px 2px, 2px 0px, 2px 2px;
  letter-spacing: 8px;
}

.collapsible {
  cursor: pointer;
  padding: 18px;
  width: auto;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 500ms ease;
}

@media only screen and (min-width: 500px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  @media only screen and (min-width: 768px) {
    h1 {
      margin: 1em 0px;
      font-size: 64px;
    }
    h2 {
      font-size: 48px;
    }
    h3 {
      font-size: 36px;
    }
    @media only screen and (min-width: 960px) {
      h1 {
        font-size: 72px;
      }
      h2 {
        font-size: 64px;
      }
      h3 {
        font-size: 48px;
      }
    }
  }
}