*,
*::after,
*::before {
        transition: background-color 300ms ease-out, color 300ms ease-out, fill 300ms ease-out,
                stroke 300ms ease-out;
        box-sizing: border-box;
}

html,
body {
        min-height: 100vh;

        font-family: sans-serif;

        scroll-behavior: smooth !important;
}

/* body {
	display: grid;
	place-items: center;
} */
